@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 58px 10%;
  gap: 10px;
}

.text h2, h3, .text p, .link a {
  cursor: default;
}

.text h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-large);
}

h3 {
  font-size: var(--font-size-small);
}

.text p {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-medium);
}

.img {
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-small);
}

  @media screen and (max-width: 850px) {
    .container {
      flex-direction: column;
      gap: 23px;
      padding: 58px 5%;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .text h2 {
      font-size: var(--font-size-medium);
    }

    .text p, .link a {
      font-size: var(--font-size-small);
    }

    .img {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      cursor: pointer;
    }
  }
