:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";

  /* Sizes */
  --font-size-extra-small: 20px;
  --font-size-small: 30px;
  --font-size-medium: 40px;
  --font-size-large: 80px;
  --font-size-extra-large: 100px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --letter-spacing-large: 4px;
  --letter-spacing-medium: 2px;
  --letter-spacing-small: 1.5px;
}
